*{
    margin: 0 !important;
    padding: 0 !important;
}
.container-box{
    height: 100vh;
}
.corcho{
    border-radius: 20px;
    background-image: url('https://thumbs.dreamstime.com/b/fondo-del-tablero-del-corcho-36207153.jpg');
    height: 80%;
    width: 90%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
}
.note{
    background-color: aqua;
    width: 300px;
    height: 250px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
}
.btn{
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
}
.note-style{
    background-color: #B7FFD8;
    width: 300px;
    height: 250px;
    font-family: 'Oooh baby', cursive;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem !important;
}

#note-input{
    width: 400px;
}